<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teknosparx</title>
    <style type="text/css">
        body {
            background-color: #000;
            color: #fff;
            font-family: helvetica, arial, sans-serif;
            font-size: 12pt;
        }

        #content {
            width: 640px;
            margin: auto;
        }

        #titleimage {
            display: block;
            margin: auto;
        }

        #canvas{
            border: 1px solid #555;
        }

    </style>

    <script type="text/javascript" src="lib/impact/impact.js"></script>
    <script type="text/javascript" src="lib/sprintf.js"></script>
    <script type="text/javascript" src="lib/game/teknosparx/main.js"></script>
</head>
<body>

<div id="content">
    <img id="titleimage" src="media/teknosparx/title.png">
    <canvas id="canvas"></canvas>

</div>

</body>
</html>